[Desktop Entry]
Name=n3t1nfo
Comment=netinfo - vikox
Exec=netinfo.sh
Icon=mixer
Terminal=false
Type=Application
Categories=Settings;System;
X-MATE-Autostart-enabled=true